@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
  margin: 0px;
  padding: 0px;
}
header{
  background-color:brown; 
}
nav ul{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  width: 700px;
  margin: auto;
}
nav ul li{
  list-style: none;
}
.homeContainer{
  background: linear-gradient(90deg, rgb(160, 206, 160) 50%, #ffed4b 50%);
  height: 91vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeContainer h1{
  font-family: 'Ubuntu', sans-serif;
  font-size: 50px;
}
.signupContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}
.signupContainer h1{
  /* margin: 50px; */
  font-size: 50px;
  font-family: 'Ubuntu', sans-serif;
}
.signupContent{
  height: 92vh;
  display: flex;
  flex-direction: column;
}
.signupContent form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.signupContent form input{
  padding: 20px;
  width: 500px;
  background-color: whitesmoke;
  border: none;
  outline: none;
  font-size: 20px;
  border-bottom: 2px solid gray;
  margin-top: 20px;
}
.signupContent form button{
  padding: 20px;
  margin-top: 20px;
  font-size: 20px;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  width: 540px;
}
.loginContainer{
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  justify-content: center;
  align-items: center;
}
.loginContainer h1{
  font-size: 50px;
  font-family: 'Ubuntu', sans-serif;
  /* margin-top: 100px; */
}
.loginContent{
  height: 92vh;
  display: flex;
}
.loginContent form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loginContent form input{
  padding: 20px;
  background-color: whitesmoke;
  border: none;
  border-bottom: 2px solid gray;
  width: 500px;
  font-size: 20px;
  outline: none;
}
.loginContent form button{
  padding: 20px;
  background-color: black;
  cursor: pointer;
  font-size: 20px;
  color: white;
  margin-top: 20px;
  border-radius: 5px;
  width: 540px;
}